/* Consts, Mixins ToDo */
$todo-w: 400px;         /* Размер бокса Todo */
$todo-brdr: 15px;       /* border-radius у форм */
$btn-brdr: 5px;         /* border-radius у кнопок */
$btn-addtodo: 100px;    /* Размер кнопок в меню todo */
$btn-todo: 30px;        /* Размер кнопок в списке todo */

/* Цветовая схема и текст */
$clr: hsla(0,0%,100%,1);       /* Основной цвет */
$clr-todo: hsla(240,50%,100%,0.1); /* Для ввода Todo */
@mixin todo-colors () {
    color: $clr;
    background: none;
    outline: none;
    resize:none;
    border: 1px solid $clr;
    fill: $clr;
}
@mixin todo-txt () {
    text-align: center;
    font-weight: 400;
    letter-spacing: 0.04em;
    font-size: 16px;
    font-weight: 500;
}

/* Components */
.App {
    display: grid;
    align-content: center;
    justify-content: center;
}

.container {
    max-width: 1140px;
}

.box {
    display: grid;
}

.todo { 
    /* Todo.js */
    @include todo-colors();
    width: $todo-w;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    border-radius: $todo-brdr;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__title h2 {
        @include todo-colors();
        border: none;
        text-align: center;
        font-weight: 400;
        letter-spacing: 0.04em;
    }
    textarea {
        @include todo-colors();
        border: none;
        cursor: pointer;
        font-size: 16px;
        font-weight: 500;
        width: 100%;
    }
    button {
        background: none;
        border: none;
        cursor: pointer;
        border-radius: 50%;
        width: $btn-todo;
        height: $btn-todo;
    }
    &-menu {
        width: 4 * $btn-todo;
        display: flex;
        justify-content: space-between;
    }
    &__btn {
        &-complete {
            color: #95faa3;
        }
        &-edit {
            color: #56cfff;
        }
        &-delete {
            color: rgb(255, 122, 98);
        }
    }
    /* AddTodo.js */
    &-add {
        @include todo-colors();
        display: flex;
        width: $todo-w;
        padding: 10px;
        margin: 0 auto;
        border-radius: $todo-brdr;
        flex-direction: column;
        &__container {
            display: flex;
            justify-content: space-around;
        }
        input {
            @include todo-colors();
            background: $clr-todo;
            display: flex;
            width: 70%;
            font-size: 16px;
            font-weight: 500;
        }
        input:focus,
        button:focus {
          outline: none;
        }
        &__filter {
            display: flex;
            justify-content: space-around;
            padding-top: 15px;
        }
        &__btn {
            &-add {
                display: flex;
                width: $btn-addtodo;
                text-align: center;
                button {
                @include todo-colors();
                padding: 10px;
                border-radius: $btn-brdr;
                font-size: 16px;
                cursor: pointer;
                font-weight: 500;
                }
            }
            &-active,
            &-complete,
            &-all {
                @include todo-colors();
                width: $btn-addtodo;
                border-radius: $btn-brdr;
                font-size: 16px;
                font-weight: 500;
                cursor: pointer;
                text-align: center;
            }
        }
    }
}

#i {
    font-size: $btn-todo;
  }

.footer {
    color: white;
    fill: white;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin: 10px auto;
    a {
        text-decoration:none;
        color: $clr;
        svg {
            width: 40px;
            height: 40px;
        }
    }
}
/* Responsive/adaptive */

  
  
  
  
  