/* Const */
$btn-todo: 30px; /* Размер кнопок в списке todo */
/* Components */
.App {
    display: grid;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 1140px;
}

.box {
    display: grid;
}

.todo { 
    /* Todo.js */
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.1vw solid white;
    &__title h2 {
        color: white;
        text-align: center;
        margin: 1vw 0;
        font-weight: 400;
        letter-spacing: 0.04em;
    }
    input {
        cursor: pointer;
        background: none;
        border: none;
        outline: none;
        font-size: 16px;
        font-weight: 500;
        color: white;
        width: 55vw;
    }
    button {
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
        border-radius: 50%;
        width: $btn-todo;
    }
    &__btn {
        &-complete {
            color: #95faa3;
        }
        &-edit {
            color: #56cfff;
        }
        &-delete {
            color: rgb(255, 122, 98);
        }
    }
    /* AddTodo.js */
    &-add { 
        display: flex;
        padding: 15px;
        margin: 0 auto;
        border-radius: 15px;
        border: 1px solid white;
        flex-direction: column;
        &__container {
            display: flex;
            justify-content: space-around;
        }
        input {
            display: flex;
            width: 70%;
            outline: none;
            font-size: 16px;
            font-weight: 500;
        }
        input:focus,
        button:focus {
          outline: none;
        }
        &__filter {
            display: flex;
            justify-content: space-around;
            padding-top: 15px;
        }
        &__btn {
            &-add {
                display: flex;
                width: 10vw;
                text-align: center;
                margin-left: 2vw;
                button {
                border: 0.1vw solid white;
                background: none;
                color: white;
                padding: 10px 20px;
                outline: none;
                border-radius: 5px;
                font-size: 16px;
                cursor: pointer;
                font-weight: 500;
                }
            }
            &-active,
            &-complete,
            &-all {
                border: 0.1vw solid white;
                border-radius: 5px;
                font-size: 16px;
                font-weight: 500;
                cursor: pointer;
                padding: 1vw;
                width: 15vw;
                text-align: center;
            }
        }
    }
}

#i {
    font-size: $btn-todo;
  }

.footer {
    color: white;
    fill: white;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin: 10px auto;
}
/* Responsive/adaptive */

  
  
  
  
  