.App {
  align-items: center;
  justify-content: center;
}
.title h1 {
  color: white;
  text-align: center;
  margin: 10px 0;
  font-weight: 400;
  letter-spacing: 0.04em;
}
form {
  max-width: 90vw;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid white;
}
form h3 {
  text-align: center;
}
form input {
  width: 80vw;
  padding: 10px 5px;
  outline: none;
  font-size: 16px;
  font-weight: 500;
}
.todo-box {}
.input_container {
  margin-bottom: 20px;
}
.btn_container {
  text-align: center;
  margin-bottom: 10px;
}
.btn_container button {
  border: 1px solid white;
  background: none;
  color: white;
  padding: 10px 20px;
  outline: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
}

.todo_container {
  margin: 0 auto;
}
.todo {
  margin: 0 auto;
  width: 90vw;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid white;
}
.todo input {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  color: white;
}
.button-complete,
.button-delete,
.button-edit {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
}
#i {
  font-size: 25px;
}
.button-complete {
  color: #95faa3;
}
.button-edit {
  color: #56cfff;
}
.button-delete {
  color: rgb(255, 122, 98);
}
@media screen and (max-width: 667px) {
  .task_container {
  }
  .task {
  }
}
input:focus,
button:focus {
  outline: none;
}
.list {
  width: 70vw;
}
